.header {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0;
	height: fit-content;
	background-color: $color-background;

	&__logo-link {
		display: block;
		width: 80px;
		height: 80px;

		@include desktop {
			width: 150px;
			height: 150px;
		}
	}

	&__logo-image {
		width: 100%;
	}

	&__menu {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1;
		overflow: hidden;
		overflow-y: auto;
		width: 100vw;
		height: 100vh;
		// stylelint-disable-next-line
		height: calc(var(--vh));
		background-color: $color-background;
		opacity: 0;
		visibility: hidden;
		-webkit-overflow-scrolling: touch;

		@include active {
			opacity: 1;
			visibility: visible;
			transition: opacity $duration-normal, visibility $duration-normal;
		}

		@include desktop {
			position: relative;
			width: fit-content;
			height: auto;
			opacity: 1;
			visibility: visible;
			overflow: visible;
		}
	}

	&__menu-button {
		position: relative;
		z-index: 2;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 10px;
		width: 26px;
		height: 18px;

		&-line {
			display: block;
			width: 26px;
			height: 2px;
			background-color: $color-primary;
			transition: transform $duration-normal, opacity $duration-normal / 2;
		}

		@include active {
			.header__menu-button-line--first {
				transform: translate(1px, 10px) rotate(-45deg);
			}

			.header__menu-button-line--second {
				opacity: 0;
			}

			.header__menu-button-line--third {
				transform: translate(1px, -6px) rotate(45deg);
			}
		}

		@include desktop {
			display: none;
		}
	}

	&__menu-list {
		display: flex;
		flex-direction: column;
		padding-top: 61px;
		padding-left: 40px;
		width: 100%;
		gap: 41px;

		@include desktop {
			flex-direction: row;
			padding-top: 1px;
			padding-right: 3px;
			gap: 32px;
		}
	}

	&__menu-item {
		position: relative;
		width: fit-content;
		font-weight: 700;
		font-size: 26px;

		&::before {
			display: block;
			content: none;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -65%);

			@include sprite('active-mobile');
		}

		&:active::before {
			content: '';
		}

		@include desktop {
			font-size: 18px;

			&::before {
				transform: translate(-50%, -70%);
				@include sprite('active-desktop');
			}
		}
	}

	&__menu-link {
		position: relative;
		display: inline-block;
		color: $color-primary;

		&:focus-visible {
			color: $color-secondary;
		}

		@include hover {
			color: $color-secondary;
		}
	}

	&__menu-image {
		margin-top: 22px;
		margin-left: 64px;

		@include desktop {
			display: none;
		}
	}

	@include desktop {
		padding: 0;
		padding-top: 100px;
	}
}
