.preloader {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	background-color: $color-white;
	opacity: 1;
	visibility: visible;

	&__image {
		position: absolute;
		right: 100%;
		top: 100%;
		transform: translate(0, 0);
		transition: transform $duration-normal;
	}

	&--hidden {
		opacity: 0;
		visibility: hidden;
		transition: visibility $duration-normal linear 0.3s, opacity $duration-normal linear 0.3s;
	}
}
