.preloader {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	background-color: $color-white;

	&__image {
		position: absolute;
		top: 100%;
		right: 100%;
		transform: translate(0, 0);
		transition: transform $duration-normal;
	}
}
