.share {
	position: relative;

	// display: none;
	display: flex;
	flex-flow: row nowrap;
	padding: 50px;
	width: fit-content;
	background-color: $color-background;

	&__text-box {
		display: flex;
		flex-flow: column nowrap;
		width: fit-content;
		row-gap: 20px;

		@include desktop {
			row-gap: 0;
		}
	}

	&__image {
		margin-top: 50px;
	}
}
