.share
	.share__text-box
	+lazyImage({
		src: `${baseDir}images/guy-with-laptop.png`,
		srcset: `${baseDir}images/guy-with-laptop.webp, ${baseDir}images/guy-with-laptop@2x.webp 2x, ${baseDir}images/guy-with-laptop.png 2x`,
		alt: '',
		appear: false,
	}).share__image(alt="A guy with a laptop" width="400" height="400" data-html2canvas-ignore)
