-
	const data = {
		header: {
			links: {
				logo: 'https://github.com/Vasily257',
			},

			menu: [
				{
					url: '#about',
					name: 'О себе'
				},
				{
					url: '#resume',
					name: 'Резюме'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		home: {
			about: {
				name: 'Имя кандидата, Желаемая позиция',
				bio: 'Как разработчик, я&nbsp;высоко ценю способность воплотить видение дизайнера в&nbsp;жизнь, что считаю очень полезным для бизнеса. Я&nbsp;получаю огромное удовлетворение, наблюдая за&nbsp;работой от&nbsp;идеи до&nbsp;дизайна, особенно когда она появляется в&nbsp;руках пользователя. Я&nbsp;считаю, что ориентированные на&nbsp;пользователя решения являются наиболее ценными цифровыми ресурсами будущего.',
			},

			socials: ['fb', 'vk', 'tg'],

			jobs: [
				{
					time: 'Июль 2019',
					position: 'Freelance Designer',
					specialityLogo: 'job-edu-one',
					companyLogo: '',
					companyName: '',
					companyDesc: 'Netherlands, Worldwide',
					duty: 'Available for a&nbsp;project or&nbsp;job in&nbsp;UX/UI, Visual and Product design.',
					projects: ['Commercial tryouts', 'Personal projects'],
				},
				{
					time: 'Январь 2017&nbsp;&mdash; Сентябрь 2018',
					position: 'Digital Designer',
					specialityLogo: 'job-edu-2',
					companyLogo: 'job-edu-2',
					companyName: 'J Creative Solutions',
					companyDesc: 'Digital agency in&nbsp;Minsk, Belarus',
					duty: 'Created visuals for digital marketing channels such as&nbsp;social media, promo web and online ads. Developed visual language from scratch or&nbsp;following the branding guidelines. Designed presentations for clients and indoor purposes.',
					projects: ['Agency projects'],
				},
				{
					time: 'Март 2014&nbsp;&mdash; Февраль 2017',
					position: 'SEO Specialist &rarr; Lead SEO Specialist',
					specialityLogo: 'job-edu-3',
					companyLogo: 'job-edu-3',
					companyName: 'OZ.by',
					companyDesc: 'Online bookstore in Minsk, Belarus',
					duty: 'Improved website performance and user experience of&nbsp;the biggest online bookstore&nbsp;OZ in&nbsp;Belarus, being a&nbsp;part of&nbsp;the marketing team, I&nbsp;interpreted Google Analytics data to&nbsp;IT, content and marketing colleagues. Advised on&nbsp;tech and content optimization strategy, automated processes, provided reports, increased organic traffic up&nbsp;to&nbsp;150%.',
					projects: ['Annual company report 2016'],
				},
				{
					time: 'Август 2012&nbsp;&mdash; Ноябрь 2013',
					position: 'Content Specialist',
					specialityLogo: 'job-edu-4',
					companyLogo: 'job-logo-4',
					companyName: '21vek.by',
					companyDesc: 'E-commerce store in&nbsp;Minsk, Belarus',
					duty: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is&nbsp;correct in&nbsp;the catalogue with the goal of&nbsp;improving online shopper experience.',
					projects: [],
				},
				{
					time: 'Август 2011 - Ноябрь 2014',
					position: 'Software Support Engineer',
					specialityLogo: 'job-edu-5',
					companyLogo: 'job-logo-5',
					companyName: 'Integral',
					companyDesc: 'Microelectronics factory in&nbsp;Minsk, Belarus',
					duty: 'Supported retail accounting system LS&nbsp;Trade, troubleshoot technical problems.',
					projects: [],
				}
			],

			educations: [
				{
					logo: 'edu-1',
					speciality: 'Interface Design: Web &amp;&nbsp;Mobile',
					institutions: ['IT-Academy, 2020'],
				},
				{
					logo: 'edu-2',
					speciality: 'Fundamentals of&nbsp;Usability',
					institutions: ['Skillshare, Oct 2018'],
				},
				{
					logo: 'edu-3',
					speciality: 'CG Artist',
					institutions: ['Polygon CG&nbsp;School, May-Sep 2017'],
				},
				{
					logo: 'edu-4',
					speciality: 'Graphic Design',
					institutions: ['Belarusian State Academy of&nbsp;Arts, 2015&nbsp;&mdash; 2017 Postgraduate Diploma'],
				},
				{
					logo: 'edu-5',
					speciality: 'Information Technology Software',
					institutions: ['ARTOX Media, Jun-Aug 2012'],
				},
				{
					logo: 'edu-6',
					speciality: 'Interface Design: Web &amp;&nbsp;Mobile',
					institutions: ['Information Technology Software', 'Polotsk State Economic College, 2007&nbsp;&mdash; 2011 Associate&rsquo;s degree']
				},
			],

			skills: [
				{
					group: 'Adobe Creative Suite',
					values: ['Photoshop', 'Illustrator', 'InDesign', 'XD', 'After Effects'],
				},
				{
					group: 'Prototyping',
					values: ['Sketch', 'Figma', 'InVision', 'Marvel', 'Principle', 'Balsamiq'],
				},
				{
					group: 'Additional',
					values: ['HTML', 'CSS', 'Google Analytics', 'Keynote', 'Miro'],
				},
				{
					group: 'Languages',
					values: ['Conversational English and Native Russian'],
				},
			],
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
