-
	const data = {
		header: {
			links: {
				logo: 'https://github.com/Vasily257',
			},

			menu: [
				{
					url: '#about',
					name: 'About me'
				},
				{
					url: '#resume',
					name: 'Resume'
				},
				{
					url: '#skills',
					name: 'Skills'
				}
			]
		},

		home: {
			about: {
				name: 'Vasily Kalmykov,<br>Front-end Develover',
				bio: 'I&nbsp;like to&nbsp;layout, because I&rsquo;m good at&nbsp;it. I&nbsp;like to&nbsp;use semantic layout, highlighting of&nbsp;interactive elements and other techniques to&nbsp;make it&nbsp;comfortable for the user to&nbsp;use the site. And I&nbsp;also know how to&nbsp;work with designers, testers and backenders, because only together you can make a&nbsp;cool website that you are not ashamed to&nbsp;send to&nbsp;Awwwards.',
			},

			socials: ['facebook', 'vk', 'telegram'],

			jobs: [
				{
					time: 'Jan&nbsp;2023&nbsp;&ndash;&nbsp;now',
					position: 'Front-end Developer',
					specialityLogo: 'spec-web',
					companyLogo: 'pokupki-logo',
					companyName: '63pokupki',
					companyDesc: 'Online store of&nbsp;joint purchases, Russia',
					duty: 'I&nbsp;layout the main page, improve site performance and SEO indicators. For example&nbsp;I reconfigured the Webpack и&nbsp;reduced the bundle size by&nbsp;7-10%. Also I&nbsp;reduced 24,000 lines of&nbsp;CSS code to&nbsp;1,400&nbsp;lines.',
					projects: [{name: '63pokupki.ru', link: 'https://63pokupki.ru/'}],
				},
				{
					time: 'Dec&nbsp;2020&nbsp;&ndash;&nbsp;Jan&nbsp;2023',
					position: 'Digital Courses Developer',
					specialityLogo: 'spec-courses',
					companyLogo: 'hoff-logo',
					companyName: 'Hoff',
					companyDesc: 'Online store of household goods, Russia',
					duty: 'I&nbsp;have created about 20&nbsp;courses on&nbsp;various topics: customer service, kitchen planning, information security and others. I&nbsp;also developed 3 animation videos in&nbsp;Vyond.',
					projects: [{name: 'A short course of a young possum', link: 'https://360.articulate.com/review/content/ee1dd2e5-183d-42f3-99a5-c71a58bb43ce/review'}],
				},
				{
					time: 'Jun&nbsp;2019&nbsp;&ndash;&nbsp;Dec&nbsp;2020',
					position: 'Freelance Digital Courses Developer',
					specialityLogo: 'spec-courses',
					companyLogo: '',
					companyName: '',
					companyDesc: 'Russia',
					duty: 'I&nbsp;have created about 30&nbsp;digital courses with a&nbsp;volume of&nbsp;20-400 slides for 6&nbsp;companies. I&rsquo;ve been setting up&nbsp;complex triggers and variables.',
					projects: [{name: 'Sorting simulator', link: 'https://360.articulate.com/review/content/eafe5bbe-9a72-4b74-a01a-10fe821e0984/review'}],
				},
				{
					time: 'Jun&nbsp;2018&nbsp;&ndash;&nbsp;Jun&nbsp;2019',
					position: 'Teacher of public speaking and mnemonics',
					specialityLogo: 'spec-heat-human',
					companyLogo: 'unium-logo',
					companyName: 'Unium',
					companyDesc: 'Educational center for children, Russia',
					duty: 'I&nbsp;taught students in&nbsp;grades 5-11 how to&nbsp;speak in&nbsp;public. We&nbsp;also practiced techniques for memorizing information that were based on&nbsp;associations.',
					projects: [],
				},
				{
					time: 'Dec&nbsp;2020&nbsp;&ndash;&nbsp;Jan&nbsp;2023',
					position: 'Engineer Boiler Crawler&nbsp;&rarr;&nbsp;Engineer Of The Project Team',
					specialityLogo: 'spec-heat',
					companyLogo: 'tplus-logo',
					companyName: 'T Plus',
					companyDesc: 'Heat and power generating company, Russia',
					duty: 'I&nbsp;analyzed the equipment operations. Later I&nbsp;calculated the investment projects and make presentation for them.',
					projects: [],
				},
			],

			educations: [
				{
					logo: 'edu-1',
					speciality: 'Web/Multimedia Management<br>and Webmaster',
					institutions: ['Yandex School of Data Analysis,<br>Dec&nbsp;2021&nbsp;&ndash;&nbsp;Oct&nbsp;2022,<br>Postgraduate Diploma'],
				},
				{
					logo: 'edu-2',
					speciality: 'Development Of Digital Courses',
					institutions: ['Kira Guseva Study,<br>Jun 2019'],
				},
				{
					logo: 'edu-3',
					speciality: 'Human Resources Management',
					institutions: ['Samara University of&nbsp;Public Administration &laquo;International Market Institute&raquo;,<br>Sep 2017&nbsp;&ndash;&nbsp;Jun 2018,<br>Postgraduate Diploma'],
				},
				{
					logo: 'edu-4',
					speciality: 'Hear Power Stations',
					institutions: ['Samara State Technical University,<br>2010&nbsp;&ndash; 2015,<br>Master&rsquo;s degree']
				},
			],

			skills: [
				{
					group: 'Adobe Creative Suite',
					values: ['Photoshop, Illustrator, InDesign, XD, After Effects'],
				},
				{
					group: 'Prototyping',
					values: ['Sketch, Figma, InVision, Marvel, Principle, Balsamiq'],
				},
				{
					group: 'Additional',
					values: ['HTML, CSS, Google Analytics, Keynote, Miro'],
				},
				{
					group: 'Languages',
					values: ['Conversational English and Native Russian'],
				},
			],
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
