-
	const data = {
		header: {
			links: {
				logo: 'https://github.com/Vasily257',
			},

			menu: [
				{
					url: '#about',
					name: 'О себе'
				},
				{
					url: '#resume',
					name: 'Резюме'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		home: {
			about: {
				name: 'Василий Калмыков,<br>Верстальщик',
				bio: 'Люблю верстать, потому что у&nbsp;меня это получается. Мне нравится использовать семантическую верстку, подсветку интерактивных элементов и&nbsp;другие приёмы, чтобы человек пользовался сайтом и&nbsp;кайфовал. А&nbsp;ещё умею работать с&nbsp;дизайнерами, тестировщиками и&nbsp;бэкендерами, потому что только сообща можно сделать крутой сайт, который не&nbsp;стыдно отправить на&nbsp;Awwwards.',
			},

			socials: ['facebook', 'vk', 'telegram'],

			jobs: [
				{
					time: 'Июль 2019',
					position: 'Freelance Designer',
					specialityLogo: 'job-spec-1',
					companyLogo: '',
					companyName: '',
					companyDesc: 'Netherlands, Worldwide',
					duty: 'Available for a&nbsp;project or&nbsp;job in&nbsp;UX/UI, Visual and Product design.',
					projects: ['Commercial tryouts', 'Personal projects'],
				},
				{
					time: 'Январь 2017&nbsp;&ndash; Сентябрь 2018',
					position: 'Digital Designer',
					specialityLogo: 'job-spec-2',
					companyLogo: 'job-comp-2',
					companyName: 'J Creative Solutions',
					companyDesc: 'Digital agency in&nbsp;Minsk, Belarus',
					duty: 'Created visuals for digital marketing channels such as&nbsp;social media, promo web and online ads. Developed visual language from scratch or&nbsp;following the branding guidelines. Designed presentations for clients and indoor purposes.',
					projects: ['Agency projects'],
				},
				{
					time: 'Март 2014&nbsp;&ndash; Февраль 2017',
					position: 'SEO Specialist &rarr; Lead SEO Specialist',
					specialityLogo: 'job-spec-3',
					companyLogo: 'job-comp-3',
					companyName: 'OZ.by',
					companyDesc: 'Online bookstore in Minsk, Belarus',
					duty: 'Improved website performance and user experience of&nbsp;the biggest online bookstore&nbsp;OZ in&nbsp;Belarus, being a&nbsp;part of&nbsp;the marketing team, I&nbsp;interpreted Google Analytics data to&nbsp;IT, content and marketing colleagues. Advised on&nbsp;tech and content optimization strategy, automated processes, provided reports, increased organic traffic up&nbsp;to&nbsp;150%.',
					projects: ['Annual company report 2016'],
				},
				{
					time: 'Август 2012&nbsp;&ndash; Ноябрь 2013',
					position: 'Content Specialist',
					specialityLogo: 'job-spec-4',
					companyLogo: 'job-comp-4',
					companyName: '21vek.by',
					companyDesc: 'E-commerce store in&nbsp;Minsk, Belarus',
					duty: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is&nbsp;correct in&nbsp;the catalogue with the goal of&nbsp;improving online shopper experience.',
					projects: [],
				},
				{
					time: 'Август 2011&nbsp;&ndash; Ноябрь 2014',
					position: 'Software Support Engineer',
					specialityLogo: 'job-spec-5',
					companyLogo: 'job-comp-5',
					companyName: 'Integral',
					companyDesc: 'Microelectronics factory in&nbsp;Minsk, Belarus',
					duty: 'Supported retail accounting system LS&nbsp;Trade, troubleshoot technical problems.',
					projects: [],
				}
			],

			educations: [
				{
					logo: 'edu-1',
					speciality: 'Web/Multimedia Management<br>and Webmaster',
					institutions: ['Yandex School of Data Analysis,<br>Dec&nbsp;2021&nbsp;&ndash;&nbsp;Oct&nbsp;2022,<br>Postgraduate Diploma'],
				},
				{
					logo: 'edu-2',
					speciality: 'Development Of Digital Courses',
					institutions: ['Kira Guseva Study,<br>Jun 2019'],
				},
				{
					logo: 'edu-3',
					speciality: 'Human Resources Management',
					institutions: ['Samara University of&nbsp;Public Administration &laquo;International Market Institute&raquo;,<br>Sep 2017&nbsp;&ndash;&nbsp;Jun 2018,<br>Postgraduate Diploma'],
				},
				{
					logo: 'edu-4',
					speciality: 'Hear Power Stations',
					institutions: ['Samara State Technical University,<br>2010&nbsp;&ndash; 2015,<br>Master&rsquo;s degree']
				},
			],

			skills: [
				{
					group: 'Adobe Creative Suite',
					values: ['Photoshop, Illustrator, InDesign, XD, After Effects'],
				},
				{
					group: 'Prototyping',
					values: ['Sketch, Figma, InVision, Marvel, Principle, Balsamiq'],
				},
				{
					group: 'Additional',
					values: ['HTML, CSS, Google Analytics, Keynote, Miro'],
				},
				{
					group: 'Languages',
					values: ['Conversational English and Native Russian'],
				},
			],
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
