extends pug/base

prepend vars
	//-

append vars
	- title = '<?= htmlspecialchars($title) ?>'
	- description = '<?= htmlspecialchars($description) ?>'
	- image = '<?= htmlspecialchars($image) ?>'
	- html.attrs.lang = 'en'

block content
	include pug/data

	.site.site--custom
		include pug/components/preloader

		include pug/components/header

		include pug/pages/home

		include pug/components/scroll-indicator

		include pug/components/share

	include pug/components/analytics
