@import "base.scss";

html {
	font-family: $font-family-sf-pro-display;
	color: $color-primary;
	overflow: hidden;
}

img {
	display: block;
	height: auto;
}

.site--custom {
	margin: 0 auto;
	max-width: 1140px;
}
