$sprites: (
	"active-desktop": (
		normal: (
			x: 0,
			y: 0,
			width: 104,
			height: 156,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 0,
			y: 0,
			width: 208,
			height: 312,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
	"active-mobile": (
		normal: (
			x: 106,
			y: 0,
			width: 47,
			height: 70,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 212,
			y: 0,
			width: 94,
			height: 140,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
	"edu-1": (
		normal: (
			x: 155,
			y: 0,
			width: 67,
			height: 43,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 310,
			y: 0,
			width: 134,
			height: 86,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
	"edu-2": (
		normal: (
			x: 155,
			y: 45,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 310,
			y: 90,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
	"edu-3": (
		normal: (
			x: 155,
			y: 90,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 310,
			y: 180,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
	"edu-4": (
		normal: (
			x: 106,
			y: 72,
			width: 43,
			height: 43,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 212,
			y: 144,
			width: 86,
			height: 86,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
	"spec-courses": (
		normal: (
			x: 200,
			y: 45,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 400,
			y: 90,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
	"spec-heat-human": (
		normal: (
			x: 200,
			y: 64,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 400,
			y: 128,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
	"spec-heat": (
		normal: (
			x: 200,
			y: 90,
			width: 17,
			height: 17,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 400,
			y: 180,
			width: 34,
			height: 34,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
	"spec-web": (
		normal: (
			x: 155,
			y: 135,
			width: 35,
			height: 17,
			image: "sprites.png",
			total_width: 222,
			total_height: 156,
		),
		retina: (
			x: 310,
			y: 270,
			width: 70,
			height: 34,
			image: "sprites@2x.png",
			total_width: 444,
			total_height: 312,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
